<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Dojo Survey</title>
   <!-- <link rel="stylesheet" type="text/css" href="../static/css"> -->
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/style.css') }}">
    
</head>
<body>
    <div class="wrapper">
        <div class="form_question">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                    <strong style="color: red;">{{message}}</strong>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <h1>User Registration</h1>
            <table>
                <form action="/results" method = 'post'>
                    <tr>
                        <td><label for="">First Name: </label></td><td><input type="text" name="first_name"></td>
                    </tr>
                    <tr>
                        <td><label for="">Last Name: </label></td><td><input type="text" name="last_name"></td>
                    </tr>
                    <tr>
                        <td><label for="">Email: </label></td><td><input type="text" name="email"></td>
                    </tr>
                    <tr>
                        <td><label for="">Birthdate: </label></td><td><input type="date" name="bday"></td>
                    </tr>
                    <tr>
                        <td><label for="">Password: </label></td><td><input type="password" name="password"></td>
                    </tr>
                    <tr>
                        <td><label for="">Confirm Password: </label></td><td><input type="password" name="confirm_password"></td>
                    </tr>
                    <tr>
                        <td> 
                            <input type="submit" class="button">
                        </td>
                    </tr>
                </form>
            </table>
        </div>
    </div>
</body>
</html>